<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <!-- The action attribute of the form element defines where to send the form data, and the method attribute specifies the HTTP method for sending the form data. -->
    <form action = "/blogs/<%= blog._id %>", method = "POST">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" value = "<%= blog.title %>"required>
      <label for="author">Blog author:</label>
      <input type="text" id="author" name="author" value = "<%= blog.author %>"required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required><%= blog.body %></textarea>
      <button>Update</button>
    </form>
  </div>

</body>
</html>